<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta charset="UTF-8">
<title>LocadoraAPP</title>
</head>
<body>
	<form style="margin-left: 2px; margin-right: 2px;">
		<nav>
			<a class="brand-logo right">LOCADORA DE VEÍCULOS</a>
			<ul class="feft hide-on-med-and-down">
				<li><a class="waves-effect waves-light btn"><i class="material-icons left">group_add</i>Cadastro de Clientes</a></li>
				<li><a class="waves-effect waves-light btn"><i class="material-icons left">time_to_leave</i>Cadastro de Veículos</a></li>
				<li><a class="waves-effect waves-light btn"><i class="material-icons left">recent_actors</i>Cadastro de Aluguel</a></li>
				<li><a></a></li>
			</ul>
		</nav>
	</form>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>